<!DOCTYPE HTML>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Проект интерактивной карты благоустройства</h1>
        </div>
    </div>
    <div class="row my-3">
        {% if user.is_authenticated %}
        <div class="col text-center">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Карта</a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Список задач</a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Добавление файлов</a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Выход</a>
        </div>
        {% else %}
        <div class="col text-center">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Авторизация</a>
        </div>
        {% endif %}

    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>