{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}




{% block content %}
<h1 class="text-center">Главная страница</h1>
 <div class="row my-3">
        <div class="col-sm text-center">
            <a href="{% url 'chart_1' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Уникальные названия объектов</a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'chart_2' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Распределение объектов по категориям</a>
        </div>
 </div>
{% endblock %}